@{
ViewData["Title"] = "Login Page";
}



<section class="vh-100">
   <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
         <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem;">
               <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block" style="background-image: url('../img/register.jpeg'); background-size: contain; background-repeat: no-repeat; border-radius: 1rem; "></div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                     <div class="card-body p-4 p-lg-5 text-black">
                        <form onsubmit="return criarConta()">
                           <div class="d-flex align-items-center mb-3 pb-1">
                              <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                              <span class="h1 fw-bold mb-0" style="margin-left: -18px;">Cadastre-se agora</span>
                           </div>
                           <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Crie sua nova conta</h5>                         
                           <div class="form-outline mb-4">
                              <input type="text" id="nameuser" class="form-control form-control-lg" placeholder="Usuário" required/>
                           </div>
                           <input type="hidden" id="nameuser" name="nameuser" value="null">
                           <div class="form-outline mb-4">
                              <input type="email" id="email" class="form-control form-control-lg" placeholder="Seu melhor email" required/>
                           </div>
                           <div class="form-outline mb-4">
                              <input type="password" id="webpassword" class="form-control form-control-lg" placeholder="Senha" required/>
                           </div>
                           <div class="form-outline mb-4">
                              <input type="password" id="password" class="form-control form-control-lg" placeholder="Confirme sua senha" required/>
                              <div id="mensagemErro" class="text-danger"></div>
                           </div>
                           <div class="pt-1 mb-4">
                           <button id="criarContaBtn" class="btn btn-success btn-lg btn-block" type="button" onclick="criarConta()" disabled>Criar conta</button>  
                               
                           <button id="criarContaBtn" class="btn btn-success btn-lg btn-block" type="button" asp-controller="Login" asp-action="PersonalHome">Criar conta</button>   
                           <div id="mensagem" style="display: none;"></div><p/>
                           <a href="#!" class="small text-muted">Terms of use.</a>
                           <a href="#!" class="small text-muted">Privacy policy</a>
                        </form>
                        <script src="../js/LoginPage.js"></script>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section> 
